.container {
  display: grid;
  grid-template: 
  "header header header" min-content
  "main . aside" 350px
  "footer footer footer" 100px
  /min-content 100px 1fr;
  
}
.item {
  border: 2px double black;
  padding: 10px;
}
.item:nth-child(1){
  grid-area: header;
}
.item:nth-child(2){
  grid-area: main;
}
.item:nth-child(3){
  grid-area: aside;
}
.item:nth-child(4){
  grid-area: footer;
}