.hover-me {
  box-sizing: border-box;
  width: 100px;
  height: auto;
  padding: 10px ;
  text-align: center;
  margin: auto;
  position: relative;

}
.hover-me::before {
  content: '';
  background-color: #ccc;
  transition: transform .3s ease;
  display: block;
  position: absolute;
  top: 3px; right: 0; bottom: 0; left: 0;
  z-index: -1;
  height: inherit;
  width: inherit;
  border-radius: 5px;
}
.hover-me:hover::before {
  transform: scaleX(1);
  transform-origin: top right;
}
.hover-me::before {
  transform: scaleX(0);
  transform-origin: top left;
}
